.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 73px;
  &__heading {
    margin: 0;
    padding: 0;
    color: #d2d6ef;
    font-weight: 300;
  }
}

